{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
{% for element in items %}
 <section class="mx-3 mt-3">
        <div class="d-flex justify-content-center">
          <div class="card rounded col-12 col-lg-8" >
            <div class="row">
              <div class="d-flex col-4 align-items-center">
                <img
                  src="{{asset('Images/food/'~ element.plat.image)}}"
                  class="img-fluid rounded"
                  alt="{{element.plat.libelle}}"/>
              </div>
              <div class="col-7 col-sm-8">
                <div class="card-body">
                  <p class="card-title fs-4">{{element.plat.libelle}}</p>
                  <p class="card-text small">{{element.plat.description}}</p>
                  <p class="card-text small">Prix:{{element.plat.prix}}€</p>
                  <div class="row">
                  <label class="col text-end " for="quantite">Quantité</label>
                  <input class="form-control col bg-secondary container-fluid" type="number" min="1" name="quantite" value="{{element.quantite}}" step="1"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}


{% endblock %}
