{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block body %}
<section class="container cadre" >
    <h1>Votre Profil</h1>
    <div>
        <p>Nom: {{informations.nom}}</p>
        <p>Prenom: {{informations.prenom}}</p>
    </div>
    <div>
        <h2>Vos coordonnées</h2>
        <p>Adresse: {{informations.adresse}}</p>
        <p>Code Postal: {{informations.cp}}</p>
        <p>Ville: {{informations.ville}}</p>
        <p>Téléphone: {{informations.telephone}}</p>
        <p>E-mail: {{informations.email}}</p>        
    </div>
</section>
{% endblock %}
