{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez The District!{% endblock %}

{% block body %}
 <!-- Affichage de la barre de recherche -->
      {# <section
        class="d-flex justify-content-center mt-5"
        style="height: 500px"
        id="search">
       <form method="GET" action="recherche.php" class="card col-xl-10 col">
          <video
            class="card-img object-fit-cover"
            src="assets/video/production_id 5102309 (2160p).mp4"
            height="500px"
            autoplay="true"
            loop="true"></video>
          <div class="card-img-overlay">
            <div class="p-4 mt-5 bg-opacity-75 rounded" id="bandeau">
              <div class="form-group row d-flex justify-content-center">
                <div class="search-container col text-end">
                  <label
                    for="recherche"
                    class="form-label text-white text-end fs-4"
                  >
                    Que recherchez vous?</label
                  >
                </div>
                <div class="col">
                  <input
                    class="form-control"
                    type="search"
                    name="recherche"
                    id="recherche"
                  />
                  <ul
                    class="list-group position-absolute"
                    id="suggestion_liste"
                  >
                  <?php
                  if (isset($_GET["recherche"]) && !empty( $_GET["recherche"]))
                  {
                    $keyword=$_GET["recherche"];                    
                    $result=search_bar($keyword,$db);
                    header('location: recherche.php');                   
                     
                    }?> 
                </ul>
                </div>
                <div class="col">
                  <button class="btn btn-outline-light" type="submit" value="Valider">
                    Rechercher
                  </button>
                </div>
              </div>
            </div>
            <div class="d-flex"></div>
          </div>
                  </form>
      </section> #}

    <!-- Affichage categories populaires -->
   <section class="d-flex justify-content-center">
        
      <div class="cadre rounded d-flex justify-content-evenly col-xl-10 row mt-5">
        <h1 class="text-center row mt-2">Catégories Populaires</h1>
    
          {% for categorie in popularCategories %}
          <a href="/plats/{{categorie.id}}" class="cat card rounded col-3 col-lg-2 mt-3 mb-5 g-0" >
            <img class="card-img" src="Images/category/{{categorie.image}}" alt="{{categorie.libelle}}" title="{{categorie.libelle}}"/>
            <div class="card-img-overlay d-flex align-items-center justify-content-center">
              <h5 class="mark rounded text-center" style="color=#970747">{{categorie.libelle}}</h5>
            </div> 
          </a>
          {% endfor %}
      </div>
    </section>
  


      <!-- Affichage plats populaires -->
    <section class="d-flex justify-content-center">
        
      <div class=" cadre rounded d-flex justify-content-evenly col-xl-10 row mt-5">
        <h1 class="text-center row mt-2">Plats Populaires</h1>
    
          {% for plat in popularMeals %}
          <a href="#" class="cat cadre card rounded col-3 col-lg-2 mt-3 mb-5 g-0" >
            <img class="card-img" src="Images/food/{{plat.image}}" alt="{{plat.libelle}}" title="{{plat.libelle}}"/>
            <div class="card-img-overlay d-flex align-items-center justify-content-center">
              <h5 class="mark rounded text-center" style="color=#970747">{{plat.libelle}}</h5>
            </div> 
          </a>
          {% endfor %}
      </div>
    </section>

{% endblock %}
